nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline;
    margin-right: 3rem;
}

nav ul a {
    text-decoration: none;
    color: #424242;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;
}

.nav-title {
    color:#131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}